.table-textbox {
    width: 30px;
    height: 30px; /* Aumenta la altura del textbox */
    font-size: 12px;
    text-align: center;
    padding: 2px;
    box-sizing: border-box; /* Asegura que el padding no afecte al tamaño total del textbox */
}

.header-textbox {
    width: 120px;
    height: 30px; /* Aumenta la altura del textbox */
    font-size: 12px;
    padding: 2px;
    box-sizing: border-box; /* Asegura que el padding no afecte al tamaño total del textbox */
}

    .table-textbox input, .header-textbox input {
        vertical-align: middle; /* Alinea verticalmente el texto dentro del textbox */
        box-sizing: border-box; /* Asegura que el padding no afecte al tamaño total del textbox */
    }
.simbolos table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

.simbolos th, .simbolos td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    cursor: pointer;
    color: #000;
}

.simbolos th {
    background-color: #f2f2f2;
}

#notification {
    visibility: hidden;
    min-width: 250px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
    transform: translateX(-50%);
}

    #notification.show {
        visibility: visible;
        animation: fadein 0.5s, fadeout 0.5s 2.5s;
    }

.container {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    padding: 1rem;
}

.first-container {
    flex-grow: 1;
    margin-right: 1rem;
}

.form-container {
    max-width: fit-content;
}

.simbolos {
    width: 200px;
    border-collapse: collapse;
    margin-right: 1rem;
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}

@media (max-width: 900px) {
    .container {
        display: flex;
        justify-content: center;
        margin: 20px;
        padding: 1rem;
        flex-direction: column-reverse;
        align-items: center;
    }

    .simbolos {
        width: 100%;
        margin-bottom: 20px;
        margin-right: 0;
    }


    .first-container {
        margin-right: 0;
    }
}
